USE [master]
GO
/****** Object:  Database [PTSPLENDOR]    Script Date: 17/09/2022 09:41:55 p. m. ******/
CREATE DATABASE [PTSPLENDOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PTSPLENDOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PTSPLENDOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PTSPLENDOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PTSPLENDOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PTSPLENDOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PTSPLENDOR]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](30) NOT NULL,
	[CEDULA_CLIENTE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCIONES]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCIONES](
	[ID_DIR] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[CALLE_PRINCIPAL_DIR] [varchar](150) NULL,
	[CALLE_SECUNDARIA_DIR] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCIONES_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[DIRECCIONES] CHECK CONSTRAINT [FK_DIRECCIONES_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_DATOS]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_DATOS]
@ID int,
@Nombre varchar(30),
@Cedula varchar(10)
AS
UPDATE CLIENTE SET 
	NOMBRE_CLIENTE=@Nombre,
	CEDULA_CLIENTE=@Cedula
		Where ID_CLIENTE=@ID
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_DIRECCION]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_DIRECCION]
@IdCliente int,
@IdDireccion int,
@CallePrincipal VARCHAR(150),
@CalleSecundaria VARCHAR(150)
AS
UPDATE DIRECCIONES
	SET
		CALLE_PRINCIPAL_DIR=@CallePrincipal,
		CALLE_SECUNDARIA_DIR=@CalleSecundaria
	WHERE
		ID_DIR = @IdDireccion AND ID_CLIENTE=@IdCliente
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CLIENTE]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_CLIENTE]
@Buscar VARCHAR(30)
AS
SELECT
	ID_CLIENTE,
	NOMBRE_CLIENTE,
	CEDULA_CLIENTE
	FROM CLIENTE
		WHERE (NOMBRE_CLIENTE+CEDULA_CLIENTE LIKE '%'+@Buscar+'%')
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CLIENTE]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_CLIENTE]
@ID int
AS
DELETE FROM CLIENTE WHERE ID_CLIENTE=@ID
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_DIRECCION]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_DIRECCION]
@IdCliente int,
@IdDireccion int
AS
DELETE FROM DIRECCIONES
	WHERE ID_DIR = @IdDireccion AND ID_CLIENTE = @IdCliente
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CLIENTE]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_CLIENTE]
@Nombre VARCHAR(30),
@Cedula VARCHAR(10)
AS
IF EXISTS(SELECT CEDULA_CLIENTE FROM CLIENTE WHERE CEDULA_CLIENTE = @Cedula)
	RAISERROR('YA EXISTE UN CLIENTE CON ESTA IDENTIFICACION', 16,1)
ELSE
	INSERT INTO CLIENTE VALUES(@Nombre, @Cedula)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DIRECCIONES]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_DIRECCIONES]
@IdCliente int,
@CallePrincipal varchar(150),
@CalleSecundaria varchar(150)
AS
INSERT INTO DIRECCIONES VALUES(@IdCliente, @CallePrincipal, @CalleSecundaria)
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_DIRECCIONES_CLIENTE]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MOSTRAR_DIRECCIONES_CLIENTE]
@IdCliente int
AS
SELECT 
	ID_DIR,
	CALLE_PRINCIPAL_DIR, 
	CALLE_SECUNDARIA_DIR
		FROM DIRECCIONES
		WHERE ID_CLIENTE = @IdCliente
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CLIENTES_PAGINADO]    Script Date: 17/09/2022 09:41:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_CLIENTES_PAGINADO]
@Desde int,
@Hasta int
AS

BEGIN

DECLARE @SaltoRegistro int = @Desde * @Hasta
SELECT ID_CLIENTE
      ,NOMBRE_CLIENTE
      ,CEDULA_CLIENTE
  FROM CLIENTE
  ORDER BY ID_CLIENTE
  OFFSET @SaltoRegistro ROWS
  FETCH NEXT @Hasta ROWS ONLY

END
GO
USE [master]
GO
